.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 0 0;
}
.clear_btn{
    padding: 15px 20px;
    background: aquamarine;
    margin: 20px 0;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.clear_btn:hover{
    opacity: 0.8;
}
.none-eater_tr{
    color: lightgray;
    opacity: 0.7;
}

.table_container{
    display: flex;
    justify-content: center;
}

table{
    width: 300px;
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 20px;
    border: 1px solid black;
}