

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.rating_block{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

.on {
    color: #000;
}
.off {
    color: #ccc;
}